<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cat &amp; Dog Image Classifier</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="https://link477.com/assets/images/link477.png" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Cat and Dog Image Classifier</h1>
        <fieldset>
            <label for="imgUpload">Image Upload:</label><br />
            <input type="file" name="imgUpload" id="imgUpload" />
        </fieldset>
        <canvas id="myCanvas">Not Supported</canvas>
        <p>Image Classification: <span id="res"></span></p>
        <script src="main.js"></script>
    </body>
</html>
