<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    </head>
    <body>
        <h1>Cat and Dog Image Classifer</h1>
        <fieldset>
            <label for="imgupload">Image Upload:</label><br/>
            <input type="file" name="imgupload" id="imgupload" onchange="loadImage();"/>
        </fieldset>
        <canvas id="mycanvas">Not Supported</canvas>
        <p>Image Classification: <span id="res"></span></p>
        <script src="main.js"></script>
    </body>
</html>